__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
dist/
build/
.tox/
.nox/
.hypothesis/
.cache/
.venv/
venv/
.python-version
.env
.env.*
.DS_Store
#config/poms_worker.ini
.idea/*.iml
